<!DOCTYPE html>


<html>
    <head>
        <link rel="stylesheet" type="text/css" media="all" href="lib/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" media="all" href="lib/css/reset.css" />
        <link rel="stylesheet" type="text/css" media="all" href="lib/css/text.css" />
        <link rel="stylesheet" type="text/css" media="all" href="styles/css/main.css" />
        <script type="text/javascript" src="lib/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="lib/js/underscore-min.js"></script>
        <script type="text/javascript" src="lib/js/backbone-min.js"></script>
        <script type="text/javascript" src="lib/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="lib/js/moment.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/battleship.js"></script>
        <script type="text/javascript" src="js/board/board.view.js"></script>
        <script type="text/javascript" src="js/board/board.model.js"></script>
        <script type="text/javascript" src="js/ship/ship.model.js"></script>
        <script type="text/javascript" src="js/ship/ship.view.js"></script>
        <script type="text/javascript" src="js/ship/ship.collection.js"></script>
        
        <script type="text/template" id="modal-final-tpl">
            <%
                var momentFinal = moment(total);
            %>
            <p><%= message.toUpperCase()%></p>
            <div class="container_10_bs">
                <div class="g_5_bs">
                    <p>ENEMY SHOOTS: <%= player.nShoots%></p>
                    <p>ENEMY SCORE: <%= game.getPlayerScore()%></p>
                </div>
                <div class="g_5_bs">
                    <p>YOUR SHOOTS: <%= enemy.nShoots%></p>
                    <p>YOUR SCORE: <%= game.getEnemyScore()%></p>
                </div>
            </div>
            <p><%= momentFinal.format('mm') + ' MINUTES '%><%= momentFinal.format('ss') + ' SECONDS '%><%= momentFinal.format('SSS') + ' MILLISECONDS '%></p>
            
        </script>
        
        <script type="text/template" id="main-tpl">
            <h1>BATTLESHIPS</h1>
            <div class="container_10_bs clearfix js-second-container">
                <p class="title">  STAND AT ATTENTION, CADET </p>
                <p class="subtitle">  HOW BRAVE ARE YOU? </p>
                <ul>
                    <li class="option"><a href="#" data-difficulty="easy">NOT AT ALL</a></li>
                    <li class="option"><a href="#" data-difficulty="medium">I CAN FACE IT</a></li>
                    <li class="option"><a href="#" data-difficulty="hard">I WILL BEAT IT</a></li>
                    <li class="option"><a href="#" data-difficulty="cheater">LIFE IS A CHEATER</a></li>
                </ul>
            </div>
            <div class="interface-container log-container clearfix">
            </div>
        </script>
        
        <script type="text/template" id="main-second-tpl">
            <p class="title">  OK, CADET, YOU HAVE CHOSEN <%= difficulty%> MODE</p>
            <p class="subtitle">  ARE YOU SURE?</p>
            <div class="container_10_bs clearfix">
                <div class="g_5_bs js-start-game">
                    <a href="#" class="option">YES, I AM READY, SIR</a>
                </div>
                <div class="g_5_bs js-back">
                    <a href="#" class="option">NO, THIS IS FAR TOO MUCH</a>
                </div>
            </div>
        </script>
        
        <script type="text/template" id="player-tpl">
            <div class="clearfix">
                <div class="js-enemy-board-container board-container"></div>
                <div class="js-board-container board-container"></div>
            </div>
            <div class="interface-container clearfix">
                <div class="js-ships-container g_5_bs"></div>
                <div class="js-ship-viewer  g_5_bs"></div>
            </div>
            <div class="js-start-battle"></div>
            
        </script>
        
        <script type="text/template" id="start-game-tpl">
            <div class="js-start-container start-battle">
                <button class="js-start-battle">START BATTLE</button>
            </div>
            
        </script>
        <script type="text/template" id="table_tpl">
            <%
                for(var i = 0; i<rows ; i++){
            %>
                <div class="container_10_bs board clearfix">
                    <%
                        for(var j = 0; j<columns; j++){
                    %>
                        <div class="g_1_bs js-board-cell"></div>
                    <%  
                        }
                    %>

                </div>
            <%
                }
            %>            
        </script>       
        <script type="text/template" id="ship_display_button">
           <button class="js-place-auto info-button"> PLACE SHIPS AUTO</button>
        </script>    
           
        <script type="text/template" id="ship_display">
            <div class="ship-container ">
                <div class="container_10_bs clearfix">
                    <div class="g_9_bs">
                        <img class="<%= type%>" src="img/<%= type%>.svg"> 
                    </div>
                    <div class="g_1_bs counter">
                        <span>X <%= count%></span>
                    </div>
                </div>
                <div>                    
                    <a class="js-add-ship" href="#">SELECT <%= type.toUpperCase()%></a>
                </div>
            </div>
        </script>    
        <script type="text/template" id="ship_viewer">
            <h2 class="selected-ship-name"><%= type.toUpperCase()%></h2>
            <%
                if(direction){
            %>
                <div class="ship-display-<%= direction%> clearfix">  
                    <div class="g_5_bs">
                        <h2 class="selected-ship-data">
                            LENGTH: <%= length%>
                        </h2>
                    </div>
                    <div class="selected-ship-img g_5_bs">
                        <img class="<%= type%>" src="img/<%= type%>.svg">
                    </div>
                </div>
                
            <%
                }
            %>
            
            <%
                if(mode === "add"){
            %>
            <div class="js-new-boat display-actions container_10_bs">
                <div class="g_5_bs">
                    <a href="#" class="js-place-ship">PLACE SHIP</a>
                </div>
                <div class="g_5_bs">
                    <a href="#" class="js-rotate-ship">ROTATE SHIP</a>
                </div>
            </div>
            <%
                }else if(mode === "edition"){
            %>
            <div class="js-old-boat display-actions container_10_bs">
                <div class="g_5_bs">
                    <a href="#" class="js-rotate-edition-ship">ROTATE SHIP</a>
                </div>
                <div class="g_5_bs">
                    <a href="#" class="js-remove-ship">REMOVE SHIP</a>
                </div>
            </div>
            <%
                }
            %>
        </script>
        
        <script type="text/template" id="game_tpl">
            <div class="container_10_bs clearfix">
                <div id="enemy" class=" hidden"></div>
                <div id="player" class=""></div>
            </div>
        </script>
    </head>
    <body>
        <section class="main js-main-container">
        </section>
        <div class="modal fade" id="modal">
            <div class="modal-dialog" >
                <div class="modal-content">
                    <div class="modal-body board-container">
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </body>
    <script type="text/javascript">
        var app = Battleship.createApp();
    </script>
</html>