@font-face {
  font-family: 'MainFont';
  src: url('../../lib/fonts/gunmetl-webfont.eot');
  src: url('../../lib/fonts/gunmetl-webfont.eot?#iefix') format('embedded-opentype'), url('../../lib/fonts/gunmetl-webfont.woff2') format('woff2'), url('../../lib/fonts/gunmetl-webfont.woff') format('woff'), url('../../lib/fonts/gunmetl-webfont.ttf') format('truetype'), url('../../lib/fonts/gunmetl-webfont.svg#gunmetalregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  background-color: #025868;
  height: 100%;
}
body {
  height: 100%;
}
body:after {
  content: ' ';
  display: block;
  position: absolute;
  z-index: -1;
  width: 20%;
  height: 100%;
  background-image: url('../../img/bg.svg');
  background-size: cover;
  background-color: #025868;
  right: 0;
  top: 0;
  transform: rotatey(180deg);
}
body:before {
  content: ' ';
  display: block;
  position: absolute;
  z-index: -1;
  width: 20%;
  height: 100%;
  background-image: url('../../img/bg.svg');
  background-size: cover;
  background-color: #025868;
}
.main {
  min-height: 100%;
}
h1 {
  font-size: 125px;
  text-align: center;
}
h1,
h2,
h3,
h4,
p,
li,
a {
  font-family: "MainFont";
  color: #A85200;
  text-align: center;
}
li {
  list-style: none;
  margin-left: 0;
}
.board div {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  box-sizing: border-box;
}
.board:nth-child(1) div {
  border-top: 1px solid white;
}
.board .g_1_bs:nth-child(1) {
  border-left: 1px solid white;
}
.board .ship1 {
  background-color: #CCCCCC;
}
.board .ship2 {
  background-color: #FFF000;
}
.board .fired {
  background-color: darkred!important;
}
.board .hit {
  background-color: chartreuse!important;
}
.hidden {
  display: none;
}
.board-container > div {
  background-image: url(../../img/water2__water.png);
  margin: 10px auto auto;
}
.g_1_bs {
  float: left;
  margin: 0 0%;
  width: 10%;
}
.g_2_bs {
  float: left;
  margin: 0 0%;
  width: 20%;
}
.g_3_bs {
  float: left;
  margin: 0 0%;
  width: 30%;
}
.g_4_bs {
  float: left;
  margin: 0 0%;
  width: 40%;
}
.g_5_bs {
  float: left;
  margin: 0 0%;
  width: 50%;
}
.g_6_bs {
  float: left;
  margin: 0 0%;
  width: 60%;
}
.g_7_bs {
  float: left;
  margin: 0 0%;
  width: 70%;
}
.g_8_bs {
  float: left;
  margin: 0 0%;
  width: 80%;
}
.g_9_bs {
  float: left;
  margin: 0 0%;
  width: 90%;
}
.g_10_bs {
  float: left;
  margin: 0 0%;
  width: 100%;
}
.container_10_bs {
  width: 100%;
}
body {
  max-width: 1980px;
  margin: 0 auto;
}
.inline {
  display: inline-block;
}
.clearfix:after {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
button {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 35px;
  font-family: "MainFont";
  text-align: center;
  cursor: pointer;
}
button.info-button {
  background-color: #2A1400;
  border: 1px solid #01161A;
  color: #025868;
}
button.danger-button {
  background-color: #360500;
  border: 1px solid #01161A;
  color: #A85200;
}
.start-battle button {
  border-radius: 50%;
  height: 175px;
  width: 175px;
  background-color: #6B0A00;
  border-color: #A21203;
  border-width: 5px;
  color: #A85200;
  font-size: 45px;
}
a {
  display: block;
}
a:hover {
  background-image: url('../../img/target.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-color: rgba(162, 18, 3, 0.3);
  cursor: pointer;
}
a:visited,
a:hover {
  text-decoration: none;
}
.interface-container {
  margin: 20px auto;
  width: 80%;
  min-height: 300px;
  max-height: 450px;
  overflow-y: auto;
  text-align: center;
  position: relative;
  padding: 30px 5px;
  border-radius: 2px;
  background-color: #002007;
  border: 10px solid silver;
  -webkit-box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.75);
}
.interface-container > div:last-child {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
}
.interface-container > div:last-child > div {
  height: 100%;
}
.modal-open .modal {
  overflow-x: visible!important;
  overflow-y: visible!important;
}
.modal-open .modal .interface-container > div:last-child {
  position: static;
  font-size: 35px;
}
.modal-open .modal .interface-container.final-score {
  overflow-y: visible;
  max-height: inherit;
}
.ship-container {
  padding: 10px 5px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 5px 0 0 5px;
  border-radius: 3px;
}
.ship-container > div:first-child {
  height: 50px;
}
.ship-container a {
  display: block;
  font-size: 30px;
}
img.destroyer {
  width: 80%;
}
img.battleship {
  width: 100%;
}
.ship:before {
  content: '';
  height: 100%;
  display: block;
}
.ship.vertical:before {
  transform: rotateZ(90deg);
}
.ship.destroyer:before {
  background-image: url('../../img/destroyer.svg');
  background-size: 400% 100%;
}
.ship.battleship:before {
  background-image: url('../../img/battleship.svg');
  background-size: 500% 100%;
}
.ship.ship0p:before {
  background-position: 0%;
}
.ship.ship25p:before {
  background-position: 25%;
}
.ship.ship33p:before {
  background-position: 33%;
}
.ship.ship50p:before {
  background-position: 50%;
}
.ship.ship66p:before {
  background-position: 66%;
}
.ship.ship75p:before {
  background-position: 75%;
}
.ship.ship100p:before {
  background-position: 100%;
}
.ship-display-vertical {
  margin-top: 30%;
}
.ship-display-vertical .selected-ship-img {
  transform: rotateZ(90deg);
}
.ship-display-horizontal {
  margin-top: 30%;
}
.selected-ship-name {
  padding-top: 30px;
  font-size: 35px;
}
.selected-ship-data {
  font-size: 30px;
  margin-bottom: 5px;
}
.title {
  font-size: 70px;
}
.subtitle,
.option {
  font-size: 50px;
  display: block;
}
.main {
  margin: auto;
  width: 60%;
  background: #03252B;
  padding-bottom: 20px;
}
.display-actions {
  position: absolute;
  bottom: 20px;
  width: 100%;
  font-size: 30px;
}
.display-actions > div {
  padding: 0 5px;
  word-break: break-all;
}
.display-actions a {
  width: 100%;
}
.counter {
  height: 100%;
  position: relative;
}
.counter > span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #A85200;
}
.log {
  font-family: 'Courier New';
  margin-bottom: 0px;
  text-align: left;
}
.clickable {
  cursor: pointer;
}
.log-container {
  display: none;
}
